@import url("https://fonts.googleapis.com/css?family=Montserrat:600,700");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
* {
    margin: 0;
    padding: 0;
    font-family: bold BentonSans Regular, sans-serif;
    text-align: center;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
img {
    max-width: 95%;
}
body {
    margin-top: 12%;
    background: url(../img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.wrapper {
    max-width: 150px;
    position: relative;
    margin: 0 auto;
    border-radius: 20px;
    display: block;
    min-width: 328px;
    min-height: 500px;
}
.wrapper .image-wrapper img {
    width: 225px;
    border-radius: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.wrapper .image-wrapper .name {
    padding-top: 10px;
    color: #212129;
    font: bold 1pt Montserrat;
    font-size: 2.7em;
}
.wrapper .description {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: #212129;
    text-transform: uppercase;
    margin-top: 30px;
}
.wrapper .social-media .icon {
    width: 43px;
    padding-bottom: 0px;
    padding-top: 0;
    margin-top: 30px;
}
